<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A REST APIs website that provides a wide variety of features for developers.">
  <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
  <meta name="author" content="Akira">
  <title>KirBotz ApiS</title>
  <meta property="og:site_name" name="og:site_name" content="KirBotz ApiS">
  <meta property="og:title" name="og:title" content="KirBotz ApiS">
  <meta property="og:url" name="og:url" content="http://wa.me/6287705048235">
  <meta property="og:image" name="og:image" content="https://telegra.ph/file/42db8d2b8f8ac4564572b.jpg">
  <meta property="og:description" name="og:description" content="A REST APIs website that provides a wide variety of features for developers.">
  <link rel="apple-touch-icon" href="/images/icon.jpg">
  <link rel="shortcut icon" type="image/x-icon" href="/images/icon.jpg">
  <meta name="msapplication-TileColor" content="#292929" />
  <meta name="msapplication-TileImage" content="/images/Ichika.jpg" />
  <meta name="theme-color" content="#292929" />
  <link rel="canonical" href="/" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/nucleo-icons.css" />
  <link rel="stylesheet" href="/css/alli.min.css" />
  <link rel="stylesheet" href="/css/icone.css" />
  <link rel="stylesheet" href="/css/black-dashboard.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous"/>
  <audio autoplay="autoplay" hidden="hidden" src="https://uploader.caliph.my.id/file/BsAiyhOETY.mp3"></audio>
</head>

<body class="sidebar-mini dark-content">
<div class="wrapper">
<div class="sidebar" data="dark">
<div class="sidebar-wrapper">
<div class="logo text-center">
<a href="/" class="simple-text logo-normal" style="font-size: large;">
 KirBotz ApiS
</a>
</div>
<ul class="nav">
<li class="active" >
<a href="/docs">
<i class="fal fa-alien-monster"></i>
<p>Dashboard</p>
</a>
</li>
<li>
<a href="/pricing">
<i class="fi-rr-money"></i>
<p>Pricing</p>
</a>
</li>
<li>
<a href="/changelog">
<i class="fi-rr-refresh"></i>
<p>Changelog</p>
</a>
</li>
<hr>
<li>
<a href="/docs/randomimage">
<i class="fi-rr-gallery"></i>
<p>Random Image</p>
</a>
</li>
</ul>
</div>
</div>
 <div class="main-panel">
    <div class="navbar-minimize-fixed" style="opacity: 0;">
      <button class="minimize-sidebar btn btn-link btn-just-icon">
      <i class="tim-icons icon-align-center visible-on-sidebar-regular text-dark"></i>
      <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-dark"></i>
    </button>
</div>
<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent" style="top: 0px;">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-minimize d-inline">
          <button class="minimize-sidebar btn btn-link btn-just-icon" rel="tooltip" data-original-title="Sidebar toggle" data-placement="right" aria-describedby="tooltip723041">
            <i class="tim-icons icon-align-center visible-on-sidebar-regular"></i>
            <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini"></i>
          </button>
        </div>
        <div class="navbar-toggle d-inline">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <a class="navbar-brand" href="#">Dashboard</a>
      </div>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="navbar-collapse collapse" id="navigation" style>
        <ul class="navbar-nav ml-auto text-dark">
        	<li class="nav-item dropdown no-arrow text-dark">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="tim-icons icon-zoom-split text-dark"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-search p-3 shadow animated--grow-in dark-color" aria-labelledby="searchDropdown" style="border: none;">
                    <form class="navbar-search" action="/search" method="GET">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="input-group-text" type="submit">
                                    <i class="tim-icons icon-zoom-split text-dark"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control text-dark" name="q" placeholder="Search" autocomplete="off" required>
                        </div>
                    </form>
                </div>
            </li>
            <li class="dropdown nav-item">            	
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <div class="photo">
                        <img src="/images/loli.png" alt="Profile Photo">
                    </div>
                    <b class="caret d-none d-lg-block d-xl-block"></b>
                    <p class="d-lg-none text-dark"><%= username %></p>
                </a>
                <ul class="dropdown-menu dropdown-navbar dropdown-user">
                    <div class="dropdown-user-scroll scrollbar-outer ">
                        <li>
                            <div class="user-box">
                                <div class="avatar-lg"><img src="/images/loli.png" alt="image profile" class="avatar-img rounded"></div>
                                <div class="u-text text-dark">
                                    <h4><%= username %></h4>
                                    <p></p>
                                    <p class="text-dark"><%= email %></p>
                                </div>
                            </div>
                          <li>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-dark" href="/profile"><i class="far fa-address-card text-success"></i>&nbsp;My Profile</a>                              
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-dark" href="/users/logout"><i class="far fa-sign-out text-danger"></i>&nbsp;Logout</a> 
                          </li>
                    </div>
                </ul>                           
            </li>
          <li class="separator d-lg-none"></li>
</ul>
</div>
</div>
</nav>
<div class="content">
<div class="row">
<div class="col-lg-3 col-md-6">
<div class="card card-stats">
<div class="card-body">
<div class="row">
<div class="col-5">
<div class="icon-big text-center">
<i class="fas fa-mosque fa-2x text-primary"></i>
</div>
</div>
<div class="col-7">
<div class="numbers">
<div class="text-md-left font-weight-bold mb-2 text-primary">Welcome</div>
<div class="text-sm-left mb-0 font-weight-bold">Assalamu'alaikum, Stay Halal Brother</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="content">
<div class="row">
<div class="col-lg-3 col-md-6">
<div class="card card-stats">
<div class="card-body">
<div class="row">
<div class="col-5">
<div class="icon-big text-center">
<i class="fi-rr-user text-primary"></i>
</div>
</div>
<div class="col-7">
<div class="numbers">
<div class="text-md-left font-weight-bold mb-2 text-primary">User</div>
<h3 class="card-title"><%= user %></h3>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="card card-stats">
<div class="card-body">
<div class="row">
<div class="col-5">
<div class="icon-big text-center">
<i class="fal fa-shopping-cart text-success"></i>
</div>
</div>
<div class="col-7">
<div class="numbers">
<div class="text-md-left font-weight-bold mb-2 text-primary">User Request</div>
<h3 class="card-title"><%= totalreq %></h3>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="card card-stats">
<div class="card-body">
<div class="row">
<div class="col-5">
<div class="icon-big text-center">
<i class="fas fa-globe text-success"></i>
</div>
</div>
<div class="col-7">
<div class="numbers">
<div class="text-md-left font-weight-bold mb-2 text-primary">IP Address</div>
<h3 class="card-title" id="ip"></h3>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row mt--2">
<div class="col-sm-12 col-md-12">
<div class="card card-stats card-round">
<div class="card-header">
<h3 style="margin-bottom: 0">
<i class="fas fa-ruler text-danger"></i> S&K
</h3>
</div>
<div class="card-body mb-3">
<ol>
<li>Dilarang Spam Fitur</li>
<li>Dilarang Menyebarkan Apikey Anda</li>
<li>Jangan Mengcopas Tampilan Walaupun Pasaran</li>
<li>Dilarang Membeli Apikey Dengan Dengan Owner Website Ini</li>
<li>Jangan ditembak atuh, sakit.</li>
<li>Owner tidak bertanggung jawab atas apa yang Anda lakukan dalam penggunaan website ini.</li>
</ul>
<br>
</div>
</div>
</div>
<div class="col-sm-12 col-md-6">
<div class="card card-stats card-round">
<div class="card-header">
<h3 style="margin-bottom: 0">
<i class="fi-rr-headset text-warning"></i> Contact Me
</h3>
</div>
<div class="card-body mb-2">
<p>Hello, Everyone!</p>
<ul>
<li>Interested in buying Premium</li>
<li>Found 1 or more bugs?</li>
<li>Request Features?</li>
</ul>
<p>You can contact me via</p>
<p>
<a href="https://wa.me/6287705048235" class="text-white">
<i class="fab fa-whatsapp"></i> WhatsApp
</a>
</p>
<p>
<a href="https://www.instagram.com/kirbotzx/" class="text-white">
<i class="fab fa-instagram"></i> Instagram
</ul>
</a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="card card-chart">
<div class="card-header">
<h3 style="margin-bottom: 0">
<i class="far fa-browser text-info"></i> Browser Info
</h3>
                 </div>
                  <div class="card-body mb-2">
                    <p></p>
                    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                      arrBulan = [
                        "Januari",
                        "Februari",
                        "Maret",
                        "April",
                        "Mei",
                        "Juni",
                        "Juli",
                        "Agustus",
                        "September",
                        "Oktober",
                        "November",
                        "Desember",
                      ];
                      var txt = "";
                      txt +=
                        "<p><b>Browser CodeName</b>: " +
                        navigator.appCodeName + "</p>";
                      txt +=
                        "<p><b>Browser Name</b>: " + navigator.appName + "</p>";
                      txt +=
                        "<p><b>Cookies Enabled</b>: " +
                        navigator.cookieEnabled +
                        "</p>";
                      txt +=
                        "<p><b>Browser Online</b>: " +
                        navigator.onLine +
                        "</p>";
                      txt +=
                        "<p><b>Platform</b>: " + navigator.platform + "</p>";
                      txt +=
                        "<p><b>User-agent header</b>: " +
                        navigator.userAgent +
                        "</p>";
                      document.write(txt);
                    </script>
</div>
</div>
</div>
</div>
</div>
</div>
<footer class="footer fixed-bottom">
<div class="copyright text-center my-auto">
<span>
Made With 🤍 By KirBotz | Copyright 2022 -
</span>
<span>
<a id="jam"></a>
</span>
</div>
</footer>
</div>
</div>
<script type="text/javascript">
(function () {
var options = {
whatsapp: "6287705048235", // WhatsApp number
call_to_action: "Chat Jika Ada Yg Mau Ditanyakan.", // Call to action
button_color: "#FF6550", // Color of button
position: "right", // Position may be 'right' or 'left'
};
var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
})();
</script>
<script
      data-cfasync="false"
      src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script>
      
 //ip
   window.setTimeout("getip()",1000);
  function getip(){
  var xhr=new XMLHttpRequest();
  var url='https://api.ipify.org?format=json';
  xhr.onloadend=function(){
  data=JSON.parse(this.responseText);
  document.getElementById('ip').textContent=data.ip
};
xhr.open("GET",url,true);
xhr.send();
}

//ucapan Tiap Hari
Sayings = "";
			var now = new Date();
			var hours = now.getHours();
			if (hours >= 17 || hours <= 2){
			Sayings += "<span class='text-light'>Good night</span>"
			} else if (hours >= 3 && hours <= 10){
			Sayings += "<span class='text-info'>Good morning</span>"
			} else if (hours >= 11 && hours <= 14){
			Sayings += "<span class='text-warning'>Good afternoon</span>"
			} else if (hours >= 13 && hours <= 16){
			Sayings += "<span class='text-success'>Good afternoon</span>"
			}
document.getElementById("Ucapan").innerHTML = Sayings;
	
const textnya = document.querySelector('.status'); 
window.onload = function () {
      function updateBatteryStatus(battery) {
        document.querySelector('#charging-battery').textContent = battery.charging ?  'Lagi Di Cas ⚡': 'Tidak Di Cas ❌';
        console.log("Battery charging? "+ (battery.charging ? "Yes" : "No"));
        document.querySelector("#level-battery").textContent = `Baterai : ${(battery.level * 100).toFixed(0)}`+"%";
      }
      navigator.getBattery().then(function(battery){
        updateBatteryStatus(battery)
        battery.onchargingchange = function () {
          updateBatteryStatus(battery)
        }
        battery.onlevelchange = function () {
          updateBatteryStatus(battery)
        }
        battery.ondischargingtimechange = function () {
          updateBatteryStatus(battery)
        }
      })
    }
  </script>
    <script src="/js/core/jquery.min.js"></script>
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/plugins/bootstrap-notify.js"></script>
    <script src="/js/black-dashboard.min.js"></script>
    <script src="/js/swal.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/notif.js"></script>
    <script src="/js/alerts.js"></script>
    <script src="/js/plugins/bootstrap-switch.js"></script>
  </body>
</html>
